{{!-- HEADER --}}
<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">
            <img src="http://www.tattooset.com/images/logo.png" style="width: 100px; margin-top: 10px;"/>
        </a>
        <ul class="right hide-on-med-and-down">
            <li><a href="sass.html"><i class="material-icons">search</i></a></li>
            <li><a href="badges.html"><i class="material-icons">view_module</i></a></li>
            <li><a href="collapsible.html"><i class="material-icons">refresh</i></a></li>
            <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>
        </ul>

        <ul id="slide-out" class="side-nav">
            {{#each (utils 'categories')}}
                <li><a href="#/category/{{this.id}}">{{this.name}}</a></li>
            {{/each}}
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse" data-js="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
</nav>
{{!-- END HEADER --}}

{{!-- CONTENT --}}
<div data-js="main-content-region"></div>
{{!-- END CONTENT --}}


{{!-- FOOTER --}}
<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">© 2015 Copyright</div>
    </div>
</footer>
{{!-- END FOOTER --}}
